@function vw($x, $vpw: 750) {
  @return ($x / $vpw * 100) * 1vw;
}

@mixin center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin bgcenter {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: vw(66);
  font-weight: 700;
  z-index: 99;
}

@mixin bgimage($url) {
  background-image: url($url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@mixin wh($width, $height) {
  width: vw($width);
  height: vw($height);
}
